* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-between;
  gap: 10px;
  background-color: yellow;
  padding: 10px;
  position: sticky;
  width: 100%;
  top: 0;
}

.mainSection {
  margin-top: 10px;
  height: 200px;

  background-color: yellow;
  display: grid;
  grid-template-columns: 40px 40px;
  grid-template-rows: 40px 40px;
  gap: 20px;
  justify-items: center;
  align-items: center;
}
.box {
  height: 20px;
  width: 20px;
  background-color: blue;
  color: white;
}

.box-grid {
  position: absolute;
  top: 10px;
  left: 20px;
}

@media all and (min-width: 500px) and (max-width: 1000px) {
  .mainSection {
    background-color: red;
  }
}
